/* GENERAL */

* {
  box-sizing: border-box;
}

a, a:visited {
  text-decoration: none;
  color: #FFF8;
}

a:hover {
  color: white;
}

html, body {
  color: white;
  background-color: #111;
  padding: 2rem;
  font-family: sans-serif;
}

#body {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

input[type=number] {
  width: 100%;
}

img, canvas {
  image-rendering: pixelated;
}


/* FIELDSETS */

fieldset {
  /* border-color: #666; */
  border-color: transparent;
  background: #222;
  border-radius: 1rem;
  height: fit-content;
}

fieldset > fieldset {
  margin-top: 1rem;
}

fieldset > legend {
  opacity: 0.5;
  font-weight: bold;
}


/* IMAGE SOURCE */

#input_field {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

#image_selector {
  display: none;
}

#source_img {
  max-width: 320px;
  box-shadow: 0 0 1rem black;
}

#source_filename {
  opacity: 0.5;
  max-width: 320px;
  text-overflow: ellipsis;
  overflow: hidden;
}


/* QUANTIZED OUTPUT */

#quantized_wrapper {
  flex-basis: 100%;
  margin: 2rem;
}

#quantize_button_wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 1rem;
}
#quantize_button_wrapper > button {
  font-size: 100%;
  padding: 1rem;
  font-weight: bold;
}
#quantize_button_wrapper > progress {
  width: 100%;
  height: 50%;
}

#quantized_images {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}
#quantized_images:empty {
  display: none;
}

#quantized_images > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}
#quantized_images > div:first-child {
  background: #000a;
}

#quantized_images canvas {
  width: 100%;
  height: auto;
  box-shadow: 0 0 1rem black;
}


/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0.5;
  justify-content: center;
  align-items: center;
}

footer .main {
  font-weight: bold;
  font-variant: small-caps;
}
